<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>knowhow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
  	<servlet-name>member</servlet-name>
  	<servlet-class>com.knowhow.member.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>member</servlet-name>
  	<url-pattern>*.member</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>mypage</servlet-name>
  	<servlet-class>com.knowhow.mypage.MypageFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>mypage</servlet-name>
  	<url-pattern>*.mypage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>admin</servlet-name>
  	<servlet-class>com.knowhow.admin.AdminFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>*.admin</url-pattern>
  </servlet-mapping>
  
  <servlet>  
  	<servlet-name>answer</servlet-name>
  	<servlet-class>com.knowhow.answer.AnswerFrontController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>answer</servlet-name>
  	<url-pattern>*.answer</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
  	<servlet-name>answerComment</servlet-name>
  	<servlet-class>com.knowhow.answerComment.AnswerCommentFrontController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>answerComment</servlet-name>
  	<url-pattern>*.answerComment</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
  	<servlet-name>askAdmin</servlet-name>
  	<servlet-class>com.knowhow.askAdmin.AskAdminFrontController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>askAdmin</servlet-name>
  	<url-pattern>*.askAdmin</url-pattern>
  </servlet-mapping>
  
  
  
  
  
   <servlet>
  	<servlet-name>askAdminAnswer</servlet-name>
  	<servlet-class>com.knowhow.askAdminAnswer.AskAdminAnswerFrontController</servlet-class>
  </servlet>
  
    <servlet-mapping>
  	<servlet-name>askAdminAnswer</servlet-name>
  	<url-pattern>*.askAdminAnswer</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  	<servlet-name>main</servlet-name>
  	<servlet-class>com.knowhow.main.MainFrontController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>main</servlet-name>
  	<url-pattern>*.main</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>question</servlet-name>
  	<servlet-class>com.knowhow.question.QuestionFrontController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>question</servlet-name>
  	<url-pattern>*.question</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>questionComment</servlet-name>
  	<servlet-class>com.knowhow.questionComment.QuestionCommentFrontController</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>questionComment</servlet-name>
  	<url-pattern>*.questionComment</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>