@charset "UTF-8";
body{
	background: #f5f6f8;
}
p{
	line-height: 19px;
    margin-top: 10px;
    letter-spacing: -1px;
    color: #666;
    font-size: 12px;
    
}

.container{
	background: #f5f6f8;
	position: relative;
    z-index: 20;
    max-width: 954px;
    height: 100%;
    margin: 0 auto;
    height: 861px;
}

.content_header{
    line-height: 22px;
    color: #333;
}

p.context{
	line-height: 19px;
    margin-top: 10px;
    letter-spacing: -1px;
    color: #666;
}

p.context_list{
	color: #ff6020;
	margin-top: 8px;
    padding-left: 5px;
    background: url(https://static.nid.naver.com/images/web/user/bg_contxt_list.gif) no-repeat 0 7px;
}
.content{
	position: relative;
    padding: 32px 51px 95px;
}

input{
	width: 357px;
	font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    height: 16px;
    margin: 8px 0px 0;
    vertical-align: top;
    color: #333;
    position: relative;
    height: 43px;
    border: 1px solid #ccc;
    
}


.main_content{
	line-height: 14px;
    width: 356px;
    margin: 0 auto;
    padding: 32px 29px 32px;
    border: 1px solid #dadada;
    background: #fff;
}

.err-new{
	font-size: 12px;
    color: red;
}

.err-new-check{
	font-size: 12px;
    color: red;
}

.password_content{
	position: relative;
    margin-top: 43px;
}

.button_area{
	margin-top:25px;
}

#confirm{
	font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    width: 362px;
    height: 47px;
    margin-top: 8px;
    padding: 16px 0 15px;
    text-align: center;
    color: #fff;
    border: none;
    background: #388C57;
}

#cancel{
	font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    width: 362px;
    height: 47px;
    margin-top: 8px;
    padding: 16px 0 15px;
    text-align: center;
    color: #333;
    border: 1px solid #bfbfbf;
    background: #fff;
}