@charset "UTF-8";

p{
	line-height: 19px;
    margin-top: 10px;
    letter-spacing: -1px;
    color: #666;
    font-size: 12px;
    
}

.container{
	background: #f5f6f8;
	position: relative;
    z-index: 20;
    max-width: 954px;
    height: 100%;
    margin: 0 auto;
    height: 861px;
}

.content{
	position: relative;
    padding: 32px 51px 95px;
}

input{
	width: 336px;
	font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    height: 16px;
    margin: 15px 9px 0;
    vertical-align: top;
    color: #333;
    position: relative;
    height: 43px;
    border: 1px solid #ccc;
    
}

.main_content{
	line-height: 14px;
    width: 356px;
    margin: 0 auto;
    padding: 32px 29px 32px;
    border: 1px solid #dadada;
    background: #fff;
}


.old_password{
	margin-bottom: 3px;
}

.new_password{
}