<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.knowhow.member.domain.MemberVO" alias="memberVO"/>
		<typeAlias type="com.knowhow.member.domain.ResumeVO" alias="resumeVO"/>
		<typeAlias type="com.knowhow.admin.domain.BannerVO" alias="bannerVO"/>
		<typeAlias type="com.knowhow.admin.domain.MenteeListDTO" alias="menteeListDTO"/>
		<typeAlias type="com.knowhow.answer.domain.AnswerLikeVO" alias="answerLikeVO"/>
		<typeAlias type="com.knowhow.answer.domain.AnswerVO" alias="answerVO"/>
		<typeAlias type="com.knowhow.answerComment.domain.AnswerCommentVO" alias="answerCommentVO"/>
		<typeAlias type="com.knowhow.askAdmin.domain.AskAdminVO" alias="askAdminVO"/>
		<typeAlias type="com.knowhow.askAdminAnswer.domain.AskAdminAnswerVO" alias="askAdminAnswerVO"/>
		<typeAlias type="com.knowhow.question.domain.CategoryVO" alias="categoryVO"/>
		<typeAlias type="com.knowhow.question.domain.QuestionLikeVO" alias="questionLikeVO"/>
		<typeAlias type="com.knowhow.question.domain.QuestionVO" alias="questionVO"/>
		<typeAlias type="com.knowhow.question.domain.QuestionDTO" alias="questionDTO"/>
		<typeAlias type="com.knowhow.questionComment.domain.QuestionCommentVO" alias="questionCommentVO"/>
	</typeAliases>
	
		
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/knowhow"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/knowhow/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/adminMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/answerCommentMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/answerMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/askAdminMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/questionCommentMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/questionMapper.xml"/>
	</mappers>
</configuration>















