<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
	</typeAliases>
	
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/knowhow"/>
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/knowhow/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/adminMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/answerCommentMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/answerMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/askAdminMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/questionCommentMapper.xml"/>
		<mapper resource="com/knowhow/mybatis/mapper/questionMapper.xml"/>
	</mappers>
</configuration>















