<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="answerComment">

	<select id="selectAllcomment" parameterType="long" resultType="answerCommentVO">
		SELECT answer_comment_id, answer_comment_content, answer_comment_depth, answer_comment_regdate, answer_comment_upddate, answer_comment_group,
		 member_id, answer_id , question_id
		FROM tbl_answer_comment
		where question_id = #{questionId}
	</select>
	

</mapper>
