<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="join" parameterType="memberVO">
		insert into tbl_member(member_identification, member_password, member_name, member_age, member_nickname, member_email<!-- , member_profile_system_name, member_profile_original_name, member_profile_file_path -->)
		values(#{memberIdentification}, #{memberPassword}, #{memberName}, #{memberAge},#{memberNickname}, #{memberEmail}<!-- , #{memberProfileSystemName}, #{memberProfileOriginalName}, #{memberProfileilePath} -->)
	</insert>
	
	<!-- 회원가입한 맴버의 id가져오기 -->
	<select id="getMemberId" parameterType="string" resultType="long">
		select member_id from tbl_member where member_identification = #{memberIdentification}
	</select>
	
	<!-- 이력서 넣기 -->
	<insert id="insertResume" parameterType="resumeVO">
		insert into tbl_resume (resume_original_name, resume_system_name, member_id) 
		values(#{resumeOriginalName}, #{resumeSystemName}, #{memberId});
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="map" resultType="long">
		select member_id from tbl_member 
		where member_identification = #{memberIdentification} and member_password = #{memberPassword}
	</select>
	
	<!-- 아이디 중복검사 -->
	<select id="checkId" parameterType="string" resultType="long">
		select member_id from tbl_member where member_identification = #{memberIdentification}
	</select>
	
	<!-- 닉네임 중복검사 -->
	<select id="checkNickname" parameterType="string" resultType="long">
		select member_id from tbl_member where member_identification = #{memberNickname}
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="checkEmail" parameterType="string" resultType="long">
		select member_id from tbl_member where member_email = #{memberEmail}
	</select>
	
	<!-- 아이디 찾기  -->
	<select id="findMyId" parameterType="map" resultType="string">
		select member_identification from tbl_member where member_email = #{memberEmail} and member_nickname=#{memberNickname} and member_name = #{memberName}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findMyPassword" parameterType="map" resultType="string">
		select member_password from tbl_member where member_email = #{memberEmail} and member_identification = #{memberIdentification}
	</select>
	
	<!-- 새로운 비밀번호 DB에 업데이트 -->
	<update id="updatePassword" parameterType="map">
		update tbl_member set member_password= #{newMemberPassword} where member_identification=#{memberIdentification}
	</update>
</mapper>
