<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="question">

 	<select id="selectAll" parameterType="map" resultType="questionDTO"> 
 		select question_id, question_title, question_content, question_regdate, question_upddate, member_name, category_id
		from view_question order by question_id desc
		limit #{startRow}, #{rowCount}
 	</select>
 	
 	<select id="getTotal" resultType="long">
		select count(question_id) from tbl_question
	</select>
	
	<select id="selectOne" parameterType="long" resultType="questionDTO">
		select question_id, question_title, question_content, question_regdate, question_upddate, m.member_name, category_id,
 		member_nickname, member_identification
		from view_question q join tbl_member m
		where question_id = #{questionId}
	</select>
	
	<update id="update" parameterType="questionDTO">
		update view_question 
		set question_title = #{questionTitle}, question_content = #{questionContent}
		where question_id = #{questionId}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM tbl_question
		WHERE question_id= #{questuionId}
	</delete>
	
	<insert id="insert" parameterType="questionVO">
		insert into tbl_question
		(question_title, question_content, member_id, category_id)
		values(#{questionTitle}, #{questionContent},#{memberId}, #{categoryId})
	</insert>
	
	
	
</mapper>
