@charset "UTF-8";

body{
	font-family: 'Helvetica Neue','Apple SD Gothic Neo','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,sans-serif;
    font-size: 12px;
    line-height: 1.2;
}

#header{
	top:0;
	z-index:2;
}
.all_content{
	margin-top: 20px;
	height:1.5 vh;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color:black;
}
p{
	margin:9px;
	padding:0;
}
li, ul {
	list-style:none;
}

dt{
	display:inline-block;
}

em{
	font-style:normal;
}

table{
	 margin: -2px 0 48px 0;
	 width:760px;
}

.body_content{
	display:flex;
	justify-content:center;
}

.nav{
	position: relative;
    height: 50px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.nav_inner{
	position: relative;
    width: 1000px;
    margin: 0 auto;
}
.menu{
	float:left;
	position: relative;
    height: 50px;
    margin-left: 15px;
    font-size:14px;
    font-weight:bold;
}

.nav_list .menu em{
	box-sizing: border-box;
    display: inline-block;
    padding: 17px 0;
    vertical-align: top;
}

.ask{
	position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    height: 50px;
    padding: 0 18px;
    line-height: 50px;
    border: 1px solid #388C57;
    background-color: #388C57;
    color: #fff;
    font-size: 15px;
}
.my_main_content{
	width:980px;
	margin: 0 auto;
}

.my_personal{
	position: relative;
    z-index: 110;
    width: 980px;
    background: url(/css/jyc/image/personal.png) repeat-y;
    z-index:-1;
}

.my_personal_top{
	height: 4px;
    line-height: 0;
    font-size: 0;
    background: url(/css/jyc/image/personal_top.png) no-repeat;
}

.my_personal .my_personal_inner{
	position: relative;
    width: 1000px;
    padding: 0 4px 22px 27px;
    background: url(/css/jyc/image/personal_inner.png) no-repeat left bottom;
    zoom: 1;
    height:190px;
}

.profile_section{
	position: relative;
    float: left;
    width: 119px;
    margin-right: 51px;
    padding-top: 28px;
    text-align: center;
}

.profile_gruop{
	width: 134px;
    height: 134px;
    overflow: hidden;
    position: relative;
}

.thumbnail{
	width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    background-position: 0 0;
    background-size: 100% auto;
}

.thumbnail .img{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.edit_photo{
	width: 15px;
    height: 15px;
    position: absolute;
    bottom: 35px;
    right: 11px;
    z-index: 2;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    background-color: #fff;
    
}

.photo_btn{
	width: 15px;
    height: 15px;
    display: block;
    overflow: hidden;
    background-position: -255px 0;
    background-image: url(https://ssl.pstatic.net/static/kin/09renewal/sp_profile_161027.png);
}


.profile_info{
	width: 100%;
    clear: both;
    margin: 12px 0 0;
    zoom: 1;
}
.profile_name{
	margin-bottom: 7px;
}
.profile_user{
	display: block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.answer_date{
	margin-bottom: -2px;
    padding: 0;
    color: #909090;
    font-size:12px;
}

.profile_section2{
	float: left;
    width: 339px;
    margin-right: 40px;
    font-size: 13px;
}

.my_intro{
	position: relative;
    z-index: 108;
    padding: 20px 0 17px;
}


.my_title{
	padding-bottom:0;
	padding-left:50px;
}

.sum{
	margin-bottom: 7px;
    color: #2e2e2e;
    letter-spacing: -1px;
}

.my_title .action{
	margin-bottom: 7px;
    padding-top: 1px;
    color: #919190;
    font-size: 11px;
    line-height: 17px;
}



.profile_section3{
	float: left;
    width: 395px;
    margin-left:30px;
    font-size:13px;
}


.my_spec{
	zoom: 1;
    clear: both;
    padding: 12px 20px 11px;
    color: #606060;
    line-height: 22px;
    margin-top:25px;
}

.my_spec dt{
	box-sizing: border-box;
    float: left;
    width: 20%;
    padding:5px;
    text-align:center;
}

.my_spec dd{
	float: left;
    width: 81%;
    overflow: visible;
    text-indent: 10px;
    padding-left: 40px
}

.q_list{
	display: inline-block;
	width:55%;
	float: left;
    color: #606060;
}


.left_nav{
	position:relative;
	float:left;
	width: 125px;
    padding: 28px 40px 100px 0;
}

.left_nav ul{
	overflow: hidden;
    margin-top: 10px;
    margin-left:-37px;
}

.left_nav ul li{
	border-top: 1px solid #e6e6e6;
    line-height: 32px;
    font-weight: bold;
}

.content{
    width: 747px;
}

.my_question_info{
	margin-top:41px;
}

.my_question_info dd{
    float: left;
    display: inline;
    margin-top: -2px;
    padding-right: 22px;
    color: #e93100;
    font-family: Tahoma,sans-serif;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 16px;
    margin-left:0;
}

.my_question_info dt{
	float: left;
    display: inline;
    margin-left: 26px;
    padding: 0 4px 0 12px;
    background: url(https://ssl.pstatic.net/static/kin/09renewal/line_v2.gif) no-repeat left 1px;
    font-weight: bold;
}




tbody td{
	padding: 7px 0 6px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 11px;
    line-height: 18px;
    color: #848484;
}

.category{
	padding-top:8px;
	text-align:center;
}

.category a{
	color: #969696;
}

.first_write_date{
	text-align:center;
}



thead th {
    padding: 10px 0 8px 0;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    background: #fff;
    text-align:center;
}






.page{
	width: 100%;
    padding: 13px 0 22px;
    line-height: 24px;
    text-align: center;
    
}

.page a{
    margin: -1px -1px 0 0;
    border: 1px solid #e9e9e9;
    color: #e85028;
    display: inline-block;
    overflow: hidden;
    margin: 0 1px 0 2px;
    padding: 0 8px;
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    text-decoration: none !important;
    vertical-align: top;
}

.search{
	margin-top: 26px;
    padding-bottom: 0;
}

fieldset{
	color: #c4c4c4;
    text-align: center;
    border : 0;
}

fieldset input[type="text"]{
	width: 219px;
    height: 15px;
    margin-left: 1px;
    padding: 3px 3px 1px;
    border: 1px solid #b5b5b5;
    border-color: #b5b5b5 #ddd #ddd #b5b5b5;
    font-size: 12px;
    line-height: 15px;
}

input[type="image"]{
	margin: -6px 0 1px;
    color: #373737;
    font-size: 12px;
    vertical-align: middle;
}
.question_button{
	display: inline-block;
	text-align: right;
	position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

form{
	position:relative;
}



