@charset "UTF-8";

body {
    font-family: Dotum, 돋움, Helvetica, sans-serif;
    background-color: #F5F6F7;
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrap {
    width: 100%;
    font-size: 12px;
    text-size-adjust: none;
    /* height: 1359.33px; */
    /* height: 1212.333px; 스크롤 만드느라 임시로 저장해놓은 값 수정해야 함 */
}

#header {
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    /* padding: 60px 0 54px; */
    padding: 60px 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    /* background-color: antiquewhite; */
}

.logo img{
	margin-left: -110px;
}

.logo {
    /* color: #00C580; */
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    font-size: 0;
    text-decoration: none;
    cursor: pointer;
}

#main {
    width: 768px;
    /* height: 996px; */
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
    margin-bottom: 9px;
    padding-bottom: 0;
}

#main-inner-wrapper {
    margin: 0 auto;
    width: 460px;
    /* height: 996px; */
}

#sign-up-top {
    overflow: hidden;
    width: 100%;

}

.input-title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    width: 460px;
    height: 16px;
}

.input-wrapper {
    display: block;
    background: #fff;
    outline: 0;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px;
    box-sizing: border-box;
}

#input-id-wrapper {
    padding: 10px 110px 10px 14px;
}

input:focus {outline:none;}

span input {
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
}


#email {
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}

.input-password {
    position: relative;
    width: 404.67px;
}

.input-password-wrapper {
    position: relative;
    padding: 10px 40px 10px 14px;
}

#password-lock {
    background-position: 0 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
    background-repeat: no-repeat;
    background-size: 125px 75px;
    cursor: pointer;
}

#password-lock2 {
    background-position: -27px 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
    background-repeat: no-repeat;
    background-size: 125px 75px;
    cursor: pointer;
}

#sign-up-middle {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}

#birth-wrapper {
    padding: 0;
}

.birth-input-wrapper {
    display: block;
    padding: 11px 14px;
    position: relative;
    width: 146.69px;
    height: 51px;
    border: solid 1px #dadada;
    background: #fff;
    box-sizing: border-box;
}

#birth-title {
    width: 460px;
}

#birth-inner-wrapper{
    display: flex;
    justify-content: space-between;
}

.birth-input-text {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding: 0 25px 0 0;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    /* z-index: 10; */
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

#month{
    background: #fff url("https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif") 100% 50% no-repeat;
    background-size: 20px 8px;
    width: 100%;
    height: 29px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    overflow: visible !important;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    outline:none;

    appearance: none;
}

select::-ms-expand {
    display: none;
}

#gender-select-wrapper{
    width: 100%;
    display: block;
    padding-right: 7px;
    box-sizing: border-box;
    position: relative;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 7px 10px 14px;
    background: #fff;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    font-size: 12px;
    /* padding: 10px 14px; */
}

#email-input-wrapper{
    width: 100%;
    display: block;
    padding-right: 7px;
    box-sizing: border-box;
    position: relative;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 7px 10px 14px;
    background: #fff;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    font-size: 12px;
    /* padding: 10px 14px; */
}

#gender-select {
    background: #fff url("https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif") 100% 50% no-repeat;
    background-size: 20px 8px;
    width: 100%;
    /* width: 437.69px; */
    height: 29px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    outline:none;
    appearance: none;
}

.input {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    padding: 0 25px 0 0;
}

h3 span {
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
    cursor: pointer;
}

#phone-number {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    font-family: Dotum, 돋움, Helvetica, sans-serif;
    font-size: 12px;
}

#select-wrapper {
    width: 100%;
    padding-right: 7px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 7px 10px 14px;
    background: #fff;
}

#nationNo {
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    width: 100%;
    height: 29px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    font-family: Dotum, 돋움, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    appearance: none;
}

#input-phone-wrapper {
    position: relative;
    margin-top: 10px;
    font-family: Dotum, 돋움, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 125px 0 0;
}

#input-phone {
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 14px;
    vertical-align: top;
    position: relative;
    height: 51px;
    border: solid 1px #dadada;
    background: #fff;
    box-sizing: border-box;
    font-family: Dotum, 돋움, Helvetica, sans-serif;
    font-size: 12px;
}

#input-phone-number {
    padding: 0 25px 0 0;
}

input::placeholder {
    color: #8e8e8e;
    font-weight: 100;
    font-family: Dotum, 돋움, Helvetica, sans-serif;
}

#send-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 115px;
    height: 51px;
    padding: 18px 0 16px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #03c75a;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

#input-certification-number-wrapper {
    background: #f7f7f7;
    outline: 0;
    margin-top: 10px;
    padding-right: 14px;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px 14px;
}

#input-certification-number {
    background: #f7f7f7;
    outline: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    line-height: 29px;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    padding: 0 25px 0 0 ;
}

#sign-up-button-wrapper {
    margin: 30px 0 9px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    background-color: #03c75a;
    font-size: 12px;
}

#sign-up-button {
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    width: 100%;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background: 0 0;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    margin: 0;
}

#sign-up-button-text {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
/* main 끝 */

/* footer */

footer {
    position: relative;
    bottom: 0;
    max-width: 768px;
    min-width: 460px;
    clear: both;
    margin: 0 auto;
    padding: 21px 0 15px 0;
    /* padding: 30px 0 15px 0; */
    text-align: center;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    font-size: 12px;
}

footer > ul {
    margin: 0 0 9px 0;  
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    padding: 0;
    list-style: none;
    color: #333;
    display: block;
    text-align: center;
    position: relative;
}

footer ul li a:hover {
    color: #438a01;
    text-decoration: underline;
}

footer ul li {
    background: 0 0;
    font-size: 12px;
    position: relative;
    display: inline;
    padding: 0 3px 0 7px;
    white-space: nowrap;
    font-style: normal;
    line-height: normal;
    margin: 0;
    list-style: none;
    color: #666666;
    background: url("https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif") left 50% no-repeat;
    background-size: 1px 10px;
}

.footer-a-tag {
    color: #666666;
    text-decoration: none;
}

#first-li{
    background: none;
}

#first-em {
    font: 9px verdana;
    padding-left: 4px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #666666;
    text-align: center;
}

address em {
    font: 9px verdana;
    padding-left: 4px;
    margin: 0;
    list-style: none;
    color: #666666;  
    text-align: center;
}

address em a {
    top: 2px;
    margin-left: 1px;
}

#bottom-logo {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 12px;
    background: url(https://static.nid.naver.com/images/ui/login/pc_sp_login_190522.png) no-repeat;
    background-position: -242px 0;
    background-size: 460px auto;
    text-decoration: none;
    color: #666;
    margin: 0 0 0 1px;
    padding: 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

#copy-right {
    font: 9px verdana;
    padding-left: 4px;
    margin: 0;
    list-style: none;
    color: #333;
    text-align: center;
}

#naver-corp {
    font: bold 9px Verdana;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
    color: #666666;
    text-decoration: none;
}

#all-right{
    font: 9px/14px Verdana;
    padding-left: 2px;
    margin: 0;
    list-style: none;
    color: #333;
    text-align: center;
}

.warning {
    /* display: block; */
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    display: none;
}

