@charset "UTF-8";
body{
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1;
} 

span.span-text {
    font-size: 21px;
    font-weight: 600;
}
.content {
    height: 620px;
}

.find-by-id {
    width: 75%;
    margin: 0 auto;
    padding-top: 60px;
}

.inner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

span.inner-text {
    margin-right: 80px;
    padding-left: 60px;
}

.form_info {
    margin-top: 45px;
}

strong {
    font-size: 28px;
    display: block;
    text-align: center;
}

p.p-text {
    font-size: 12px;
    color: gray;
}

.form-content {
    padding: 30px;
    margin-top: 18px;
    background-color: #fff;
    border: 1px solid rgba(74,101,246,.2);
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgb(74 101 246 / 10%);
}

.input-box {
    border: 1px solid rgba(126,150,255,.3);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.err-id{
    margin-left: 5px;
}
input#email {
    box-sizing: border-box;
    width: 100%;
    /* height: 48px; */
    padding: 11px 15px 11px 24px;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    line-height: 24px;
    caret-color: #6175e6;
    outline: none;
}
input#id {
    box-sizing: border-box;
    width: 100%;
    /* height: 48px; */
    padding: 11px 15px 11px 24px;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    line-height: 24px;
    caret-color: #6175e6;
    outline: none;
}

.input-form {
    position: relative;
    padding-left: 167px;
    min-height: 48px;
}

span.absolute {
    position: absolute;
    top: 14px;
    left: 0;
    word-break: break-all;
    word-wrap: break-word;
    width: 157px;
    line-height: 20px;
    font-size: 15px;
    color: #4c4c4c;
}

button.email-bt {
   width: 89px;
    height: 48px;
    font-size: 15px;
    line-height: 22px;
    margin-right: -2px;
    margin-left: 15px;
    border-radius: 12px;
    border: 0;
    background: #388C57;
    cursor: pointer;
    color: white;
}

.email-input {
    width: 459px;
}

.form-email {
    margin-bottom: 25px;
}

.email-box {
    display: flex;
}

span.inquiry {
        display: inline-block;
        text-align: center;
        width: 100%;
}
.bt {
    margin-top: -10px;
    text-align: right;
    width: 75%;
}

button.back-button {
    width: 59px;
    height: 48px;
    font-size: 15px;
    line-height: 22px;
    margin-right: 5px;
    border-radius: 8px;
    border: 0;
    background: #388C57;
    cursor: pointer;
    color: white;
}
button.complete-button {
    width: 59px;
    height: 48px;
    font-size: 15px;
    line-height: 22px;
    margin-right: 5px;
    border-radius: 8px;
    border: 0;
    background: #388C57;
    cursor: pointer;
    color: white;
}

.form-list {
    margin-left: 25%;
    width: 50%;
}
input#ck {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

i.icon-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #fff;
    vertical-align: middle;
}

span.text-label {
    font-size: 13px;
}

label {
    cursor: pointer;
}